@import url(http://fonts.googleapis.com/css?family=Crete+Round:400,400italic);
/********************************************************
	Global CSS
	Created by Strawberrysoup (www.strawberrysoup.co.uk)
********************************************************/
/********************************************************
	Less
********************************************************/
/**** Imports ****/
/********************************************************
	Font Faces
********************************************************/
@font-face {
  font-family: 'dinregular';
  src: url('../fonts/');
  src: url('../fonts/') format('embedded-opentype'), url('../fonts/') format('woff'), url('../fonts/') format('truetype'), url('../fonts/') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**** Variables ****/
/* Layout Colours */
@font-face {
  font-family: 'dinregular';
  src: url('../fonts/');
  src: url('../fonts/') format('embedded-opentype'), url('../fonts/') format('woff'), url('../fonts/') format('truetype'), url('../fonts/') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**** Variables ****/
/* Layout Colours */
/* Header */
/* Main Body Content */
html {
  margin: 0;
  padding: 0;
}
html body {
  margin: 0;
  padding: 0;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
  width: 520px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}
html body #countdown {
  height: 190px;
}
html body #countdown .time {
  width: 80%;
  margin: 0 auto;
}
html body #current-balance,
html body #daily-allowance,
html body #countdown,
html body #outgoings {
  background: #fff;
  padding: 20px;
  margin-bottom: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
html body #current-balance h1,
html body #daily-allowance h1,
html body #countdown h1,
html body #outgoings h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px 0;
}
html body #current-balance span,
html body #daily-allowance span,
html body #countdown span,
html body #outgoings span {
  display: block;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px 0;
}
html body #current-balance span.balance,
html body #daily-allowance span.balance,
html body #countdown span.balance,
html body #outgoings span.balance {
  color: #339933;
}
html body #current-balance span.days,
html body #daily-allowance span.days,
html body #countdown span.days,
html body #outgoings span.days,
html body #current-balance span.hours,
html body #daily-allowance span.hours,
html body #countdown span.hours,
html body #outgoings span.hours,
html body #current-balance span.mins,
html body #daily-allowance span.mins,
html body #countdown span.mins,
html body #outgoings span.mins {
  width: 20%;
  float: left;
  margin: 20px;
  color: #339933;
}
html body #current-balance input[type="text"],
html body #daily-allowance input[type="text"],
html body #countdown input[type="text"],
html body #outgoings input[type="text"] {
  width: 466px;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
html body #current-balance input::-webkit-input-placeholder,
html body #daily-allowance input::-webkit-input-placeholder,
html body #countdown input::-webkit-input-placeholder,
html body #outgoings input::-webkit-input-placeholder {
  font-style: italic;
}
html body #current-balance #clear-completed,
html body #daily-allowance #clear-completed,
html body #countdown #clear-completed,
html body #outgoings #clear-completed {
  float: right;
  line-height: 20px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  color: #555555;
  font-size: 11px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 10px 1px;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}
html body #current-balance #clear-completed:hover,
html body #daily-allowance #clear-completed:hover,
html body #countdown #clear-completed:hover,
html body #outgoings #clear-completed:hover {
  background: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}
html body #current-balance #clear-completed:active,
html body #daily-allowance #clear-completed:active,
html body #countdown #clear-completed:active,
html body #outgoings #clear-completed:active {
  position: relative;
  top: 1px;
}
html body #current-balance #todo-count span,
html body #daily-allowance #todo-count span,
html body #countdown #todo-count span,
html body #outgoings #todo-count span {
  font-weight: bold;
}
html body #current-balance #instructions,
html body #daily-allowance #instructions,
html body #countdown #instructions,
html body #outgoings #instructions {
  margin: 10px auto;
  color: #777777;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}
html body #current-balance #instructions a,
html body #daily-allowance #instructions a,
html body #countdown #instructions a,
html body #outgoings #instructions a {
  color: #336699;
}
html body #current-balance footer,
html body #daily-allowance footer,
html body #countdown footer,
html body #outgoings footer {
  display: none;
  margin: 0 -20px -20px -20px;
  overflow: hidden;
  color: #555555;
  background: #f4fce8;
  border-top: 1px solid #ededed;
  padding: 0 20px;
  line-height: 37px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
html body #main {
  display: block;
}
html body #outgoings-list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
html body #outgoings-list li {
  padding: 18px 20px 18px 0;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
}
html body #outgoings-list li:last-child {
  border-bottom: none;
}
html body #outgoings-list li.done label {
  color: #777777;
  text-decoration: line-through;
}
html body #outgoings-list .destroy {
  position: absolute;
  right: 5px;
  top: 20px;
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url(destroy.png) no-repeat;
}
html body #outgoings-list li:hover .destroy {
  display: block;
}
html body #outgoings-list .destroy:hover {
  background-position: 0 -20px;
}
html body #outgoings-list li.editing {
  border-bottom: none;
  margin-top: -1px;
  padding: 0;
}
html body #outgoings-list li.editing .edit {
  display: block;
  width: 444px;
  padding: 13px 15px 14px 20px;
  margin: 0;
}
html body #outgoings-list li.editing:last-child {
  margin-bottom: -1px;
}
html body #outgoings-list li .view {
  display: block;
}
html body #outgoings-list li .view label {
  word-break: break-word;
}
html body #outgoings-list li .edit {
  display: none;
}
/* Footer */